<div class="student-container">
  <div>
    <div>
      <button class="back-btn" style="left: auto;" (click)="goBack()">&#8592; Back</button>
      <button class="back-btn" style="left: 1%" (click)="goHome()">Home</button>
    </div>
  </div>
  <h2>Student List</h2>
  <table class="student-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Course</th>
        <th>Age</th>
        <th>Enroll Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.id }}</td>
        <td>
          <a [routerLink]="'/students/' + student.id" class="student-link">
            {{ student.name }}
          </a>
        </td>
        <td>{{ student.course }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.enroll_date | date: 'shortDate' }}</td>
        <td><input
          type="checkbox"
          (change)="onCheckboxChange($event, student.id)"
        />
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <a routerLink="/add-student" class="add-student-btn">Add Student</a>
  <button class="delete-student-btn" class="delete-student-btn" (click)="onDeleteStudent()">Delete Student</button> -->
<div class="button-group">
  <a routerLink="/add-student" class="add-student-btn">Add Student</a>
  <button class="delete-student-btn" (click)="onDeleteStudent()">Delete Student</button>
</div>

</div>